ul {
  list-style: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 50%;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  height: 50%;
  overflow-y: auto;
}

ul li {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}

ul li:hover {
  background-color: #ddd;
}
